<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href="#!">Sample Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Item1</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Item2</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Item3</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="py-5">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
        <h1 class="display-5 fw-bold">Sample Boostrap Layout</h1>
        <p class="fs-4">This is bootstrap sample layout.</p>
        <a class="btn btn-primary btn-lg" href="#!">Button sample</a>
      </div>
    </div>
  </div>

    <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">number1</label>
    <input type="number" class="form-control" @number1.id placeholder="number1">
    </div>
    <div class="mb-3">
    <label for="number2" class="form-label">number2</label>
    <input type="number" class="form-control" id="number2" placeholder="number2">
    </div>

  <%= form_with model: @hoge do |f| %>
     <%= f.select :faculty, [["加算", "加算"], ["減算", "減算"], ["乗算", "乗算"], ["除算", "除算"]], include_blank: "選択して下さい" %>
     <%= f.submit '送信'%>
  <% end %>

</header>